.wb-Home {
  margin: $m-l $m-m;
  display: flex;

  &-banner {
    background-color: $black;
    border-radius: 8px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin-bottom: $m-l;

    &Image {
      height: 60px;
      @media (min-width: $breakpoint-tablet) {
        height: 120px;
      }
    }
  }

  &-carrusel {
    padding: $p-m;
    margin-bottom: $m-m;
    @media (min-width: $breakpoint-tablet) {
      float: left;
      width: 50%;
    }
  }

  &-title {
    text-align: center;
  }
}
